### Python ###
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
.Python

### Environments ###
.env
.venv/

### macOS ###
.DS_Store

### Logs ###
*.log

### Project Files ###
myrace_cookies.txt
cookies_browser.json
*.html

data/